<footer>
    <div class="footer__container">

        <div class="user__input">
            <input class="footer__input" type="text" placeholder="Updates in your inbox...">
            <button class="button primary__button footer__button">Go</button>
        </div>
        <div class="footer__links">
            <a href="#Home">Home</a>
            <a href="#Home">Careers</a>
            <a href="#Home">Pricing</a>
            <a href="#Home">Community</a>
            <a href="#Home">Products</a>
            <a href="#Home">Privacy Policy</a>
            <a href="#Home">About Us</a>
        </div>
        <div class="footer__socials">
            <div class="footer__logo-container">
                <!-- <img src="../../../assets/logo.svg" alt="logo"> -->
                <svg class="svg__logo">
                    <g fill="#F3603C">
                        <path
                            d="M2.786 10.286c1.538 0 2.785 1.279 2.785 2.857C5.571 14.72 4.324 16 2.786 16 1.247 16 0 14.72 0 13.143c0-1.578 1.247-2.857 2.786-2.857zM2.786 0C4.324 0 5.57 1.28 5.57 2.857c0 1.578-1.247 2.857-2.785 2.857C1.247 5.714 0 4.435 0 2.857 0 1.28 1.247 0 2.786 0zm10.028 0C14.353 0 15.6 1.28 15.6 2.857c0 1.578-1.247 2.857-2.786 2.857-1.538 0-2.785-1.279-2.785-2.857C10.029 1.28 11.276 0 12.814 0z" />
                        <ellipse cx="12.814" cy="13.257" opacity=".5" rx="2.786" ry="2.857" />
                    </g>
                </svg>
                <img src="../../../assets/logo__title.svg" class="logo__img" alt="logo">
            </div>
            <div class="footer__icons">
                <img src="../../../assets/icon-facebook.svg" alt="facebook">
                <img src="../../../assets/icon-youtube.svg" alt="youtube">
                <img src="../../../assets/icon-twitter.svg" alt="twitter">
                <img src="../../../assets/icon-pinterest.svg" alt="pintrest">
                <img src="../../../assets/icon-instagram.svg" alt="instagram">
            </div>
        </div>
    </div>
    <div class="footer__copyrights">
        No copyrights&copy;
    </div>

</footer>