.charts-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.charts__img{
    width: 90%;
    max-height: 300px;
    max-width: 400px;
}

@media screen and (min-width:968px) {
    .charts__img{
        max-width:400px;
    }
}