$dark: (
  // bg-body: hsl(250, 0%, 10%),
  bg-header: hsl(250, 0%, 20%),
  bg-body: hsl(203, 22%, 12%),
  bg-card: hsl(250, 0%, 15%),
  bg-footer: hsl(250, 10%, 0%),
  bg-team-works: hsl(40deg, 100%, 25%),
  bg-hover: hsl(40deg, 100%, 25%),
  bg-button: hsl(40deg, 100%, 25%),
  bg-white-button: hsl(250, 60%, 99%),
  bg-data-item-light: hsl(22, 0%, 30%),
  bg-input:hsl(250, 0%, 15%),
  title: hsl(255, 19%, 92%),
  sub-title: hsl(240, 17%, 85%),
  text: hsl(0, 0%, 100%),
  text-light: hsl(300, 18%, 79%),
  text-white:hsl(250, 60%, 99%),
  heading: hsl(0, 0%, 100%),
  button: hsl(250, 60%, 99%),
  button-white: hsl(40deg, 100%, 25%),
  logo-brightness:brightness(10),
);
