@use '../../../themes/mixins' as mixin;
@use '../../../themes/functions' as func;

.team__works-container{
    width: 100%;
    background-color: func.color(bg-team-works);
    color: func.color(text-white);
    padding: 1.5rem 0;
    margin-top: 2rem;
    @include mixin.change-theme-styles((background-color:bg-team-works,color:text-white),'component');
}

.footer__title{
    margin: auto;
    width: 75%;
    text-align: center;
}

.button__container{
    margin-top: 1.8rem;
}

.team__works-button{
    font-weight: bold;
    color: func.color(button-white);
    @include mixin.change-theme-styles((color:button-white),'component');
}