@import "../../../themes/mixins";
@import "../../../themes/functions";

.card {
  background-color: color(bg-card);
  position: relative;
  text-align: center;
  padding: 3rem 1.75rem 2rem;
  max-width: 375px;
  height: 235px;
  @include change-theme-styles(
    (
      background: bg-card,
    ),'component'
  );
}

.card img {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
}

.card h3 {
  margin-bottom: 1rem;
}

.card__desc{
    color: color(sub-title);
    @include change-theme-styles(
    (
      color: sub-title,
    ),'component'
  );   
}