<!-- <div class="overlay">
    <img src="../../../assets/bg-simplify-section-mobile.svg" alt="bg">
</div> -->
<app-header></app-header>
<div class="main__intro-section">
    <div class="main__intro-content">
        <h1 class="main__title">Bring everyone together to build better products.</h1>
        <p class="section__subtitle main__subtitle">Manage makes it simple for software teams to plan day-to-day
            tasks while keeping the larger team goals in view.</p>
        <button class="button primary__button">Get Started</button>
    </div>
    <app-charts></app-charts>
</div>
<app-about-manage></app-about-manage>
<app-response-section-layout></app-response-section-layout>
<app-footer2></app-footer2>
<app-footer></app-footer>